body, html {
   position: relative;
  display:block;
  margin: 0;
  font-family: Arial;
}

  .container1 {
    position: relative;
    margin: 0 auto;
  }
  
  .container1 img {vertical-align: middle;}
  
  .container1 .content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    padding: 20px;
    word-wrap: break-word;
  }
  

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 26%; /* IE10 */
  flex: 26%;
  background-color: #f1f1f1;
  margin-left:200px;
  height:100%;
  
}

/* Main column */
.main {   
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
  background-color: white;
  padding: 20px;
 
}



.text{
	word-wrap: break-word;
  width:700px;
	margin-left:20%;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: relative;
  height: 100%;
  overflow: auto;
  float:center;
  margin-left:120px;
  margin-top:50px;
  
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  
}

/* Active/current link */
.sidebar a.active {
  background-color: #FF2041;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #00bfff;
  color: white;
  padding: 16px;
  text-decoration: none;
}


.timetable{
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #f1f1f1;
  position: relative;
  height: 100%;
  overflow: auto;
  float:center;
  margin-left:50px;

}


.day{
  float:left;
  text-align: left;
}

.time{
  float:right;
  text-align: right;
}

.map{
  margin-left:250px;
  
}